#menu ul li a {
    font-size: 19px;
    text-shadow: none;
    text-transform: none;
}

#menu ul li {
    padding: 15px;
}

#menu ul li.first {
    padding-left: 0;
}

#menu ul li.first.active {
    padding-left: 15px;

}

#menu ul li.active {
    height: 20px;
}

#menu ul {
    float: left;
}

#menu .search {
    float: right;
    background: #fff;
    height: 28px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    margin-top: 12px;
    width: 187px;
    box-shadow: inset 1px 1px 2px #ccc;

}

#menu .search input {
    background: none;
    border: 0;
    height: 28px;
    line-height: 1;
    display: block;

}

#menu .search input[type=submit] {
    background: url("../images/search_ico.png") no-repeat;
    display: block;
    float: left;
    width: 14px;
    height: 14px;
    margin: 8px 5px 8px 8px;
    cursor: pointer;

}

.zag {
    color: #000;
    font-size: 17px;
}

.zag span {
    display: block;
    float: left;
    margin-right: 5px;
    font-size: 31px;
    font-weight: bold;
    line-height: 37px;
}

.zag img {
    float: left;
    margin-bottom: 5px;
}

#header {
    background: url("../images/blue_line_bg.jpg");
    padding-top: 20px;
    height: 75px;

}

h1 {
    color: #000;
    font-size: 30px;
    margin-bottom: 5px;
}

.date {
    color: #666666;
    font-size: 12px;
    padding-bottom: 5px;
}

.back {
    font-size: 14px;
    text-decoration: none;
    background: url("../images/comr_back_sprite.png") no-repeat top;
    display: block;
    width: 138px;
    text-align: center;
    height: 28px;
    padding-top: 4px;
    color: #494949;
    margin-right: 15px;
}

.back:hover {
    background: url("../images/comr_back_sprite.png") no-repeat bottom;
}

.shad {
    background: url("../images/blog_inside_shadow.png") no-repeat center bottom;
    padding-bottom: 22px;
    margin-bottom: 10px;
}

.cont {
    padding-right: 15px;
    font-size: 18px;
    color: #000;
    line-height: 22px;
    margin-bottom: 20px;
}

.container.about .left .shad {
    margin-bottom: 0;
}

.author {
    color: #000;
    font-weight: bold;
    font-size: 12px;

}

.author span {
    color: #666666;
    font-weight: normal;
}

h2 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 25px;
    text-align: left;
    color: #000;
}

.comments {
    padding-right: 15px;
}

.comment .ava img {
    background: #fff;
    box-shadow: 0 0 4px #d9d9d9;
    float: left;
    padding: 4px;
    border-radius: 1px;
    -webkit-border-radius: 1px;

}

.comment .inf {
    margin-left: 75px;
}

.comment {
    padding: 15px;
    border: 1px dashed #d2d2d2;
    margin-bottom: 10px;
}

.container.about .left .comment p {
    margin-bottom: 0;
    font-size: 15px;
    color: #000;
    line-height: 19px;
}

.comment .inf .nic {
    font-size: 12px;
    color: #000;
    font-weight: bold;
    margin-right: 20px;
}

.comments .form {
    padding: 20px 0 49px;
}

.comments .form textarea {
    resize: none;
    background: #fff;
    box-shadow: inset 1px 2px 3px #eeeeee, 0 1px 0 #fff;
    border: 1px solid #bfbfbf;
    width: 99%;
    height: 88px;
    margin-bottom: 17px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    font-family: 'PT Sans', sans-serif;
}

.form h2 {
    margin-bottom: 20px;
}

.container.about .right {
    width: 276px;
}

.container.about .right .block {
    width: 276px;
    padding: 0;
    border: 0;
    background: #fff;
    box-shadow: 1px 1px 2px #e3e3e3;
    margin-bottom: 20px;
    border-left: 1px solid #efefef
}

.container.about {
    padding-top: 10px;
}

.container.about .right .block .head {
    font-weight: bold;
    border-bottom: 1px solid #f6f6f6;
    padding: 20px 0 15px 25px;
    font-size: 17px;
}

.container.about .right .block .inner {
    padding: 20px 20px 10px 25px;
    font-size: 14px;
}

.container.about .right .block .new {
    margin-bottom: 10px;
    /*overflow: auto;*/

}

.container.about .right .block .new img {
    padding: 4px;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 1px;
    -webkit-border-radius: 1px;

}

.container.about .right .block .new p {
    margin-left: 75px;
    font-size: 14px;
    margin-bottom: 0;
}

.container.about .right .block .archive {
    display: block;
    margin-bottom: 12px;
    overflow: auto;
    width: 215px;
    text-decoration: none;
}

.container.about .right .block .archive.last{
    margin-bottom: 0;
}

.container.about .right .block .amount {
    background: #f5f5f5;
    color: #404040;
    font-size: 12px;
    width: 39px;
    height: 18px;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    text-align: center;
    box-shadow: inset 1px 1px 1px #f1f1f1;

}

.container.about .right .block span {
    display: block;
    font-size: 14px;
    color: #000;
}

.container.about .right .block .scroll {
    height: 150px;
    margin: 20px 0;
}

.container.about .right .block .scroll .inner{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.container.about .right .block .jspPane {
    width: 260px !important;
}

.jspVerticalBar {
    width: 27px;

}

.jspTrack {
    background: #fff;
}

.container.about .right .block .scroll .jspDrag {
    display: none;

}

.container.about .right .block .scroll:hover .jspDrag {
    display: block;
}

.container.about .right .banner {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 5px;
    padding-bottom: 0;
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;
}

h3 a {
    text-decoration: none;
}

.blog {
    padding-right: 20px;
    padding-bottom: 40px;
}

.blog .date {
    margin-bottom: 10px;
}

.blog img {
    float: left;
}

.container.about .left .blog p {
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 0;
}

.blog .info {
    margin-left: 280px;

}

.blog .yet {
    color: #3300cc;
    font-size: 15px;
}

.blog .author {
    font-weight: normal;
}

.blog .total a {
    font-size: 14px;
}

.total {
    border: 1px dashed #dedede;
    padding: 5px 15px;
    border-radius: 20px;
    margin-top: 10px;

}

.pagination li {
    float: left;
    list-style: none;
    margin-right: 10px;
}

.pagination a {
    display: block;
    width: 54px;
    background: url("../images/pagination_sprite.png") no-repeat right;
    text-align: center;
    height: 37px;
    text-decoration: none;
    font-size: 18px;
    padding-top: 18px;
}

.pagination a:hover{
    background: url("../images/pagination_sprite.png") no-repeat -63px;

}

.pagination li.active a {
    background: url("../images/pagination_sprite.png") no-repeat left;

}

.pagination .dots {
    padding-top: 18px;
}

.container.about .left .pagination {
    margin-left: 0;
    margin-bottom: 40px;
}

.blog.last {
    padding-bottom: 30px;
}

#popup {
    background: #f9f9f9; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZjlmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f9f9f9), color-stop(100%, #e6e6e6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9f9f9 0%, #e6e6e6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9f9f9 0%, #e6e6e6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#f9f9f9', endColorstr = '#e6e6e6', GradientType = 0); /* IE6-8 */
    border-radius: 7px;
    -webkit-border-radius: 7px;
    width: 492px;
    height: 158px;
    text-align: center;
    padding-top: 70px;
    display: none;


}

#popup strong{
    font-size: 15px;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.s-net{
    width: 244px;
    margin:  0 auto;
}


.s-net li{
    float: left;
    margin-right: 10px;
}

.s-net a{
    display: block;
    background-image: url("../images/social_sprite.png");
    background-repeat: no-repeat;
    background-position: left;
    width: 32px;
    height: 32px;
}


.s-net .go a{
    background-position: -42px 0;

}

.s-net .ya a{
    background-position: -84px 0;

}

.s-net .ml a{
    background-position: -126px 0;

}

.s-net .twit a{
    background-position: -169px 0;

}

.s-net .vk a{
    background-position: right;

}
.s-net .vk{
    margin-right: 0;
}

.fancybox-overlay{
    background: url("../images/gray_fill_popup.png");
}

.fancybox-close{
    background: url("../images/dark_close.png") no-repeat;
    width: 22px;
    height: 22px;
    top:5px;
    right: 5px;
}

.jspPane{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.container.about .right .block.pb{
    padding-bottom: 10px;
}

.fancybox-lock #menu ul {
    margin-left: -8px;

}


body{
    margin-right: 0 !important;
}






