body {
    background: #f5f5f5;
}

#container {
    margin: 50px auto;
    width: 1000px;

}

a {
    text-decoration: none;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    color: #000;
}

.ybat {
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    display: block;
    font-size: 18px;
    height: 35px;
    background-image: url("images/but_sprite1.png");
    background-repeat: no-repeat;
    padding-top: 15px;
    text-align: center;
}

.try30 {
    background-position: left top;
    width: 382px;
}

.try30:hover {
    background-position: -397px top;

}

.try30:active {
    background-position: -795px top;

}

.trynow {
    font-size: 22px;
    background-position: left -66px;
    width: 292px;
    padding-top: 12px;
    height: 38px;
}

.trynow:hover {
    background-position: -397px -66px;
}

.trynow:active {
    background-position: -795px -66px;
}

.continue {
    background-position: left -132px;
    width: 212px;
    height: 32px;
    padding-top: 10px;

}

.continue:hover {
    background-position: -397px -132px;

}

.continue:active {
    background-position: -795px -132px;

}

.trysmall {
    background-position: left -191px;
    font-size: 15px;
    width: 212px;
    height: 30px;
    padding-top: 12px;

}

.trysmall:hover {
    background-position: -397px -132px;
}

.trysmall:active {
    background-position: -795px -132px;
}

.buy {
    background-position: left -250px;
    font-size: 16px;
    width: 100px;
    height: 30px;
    padding-top: 10px;

}

.buy:hover {
    background-position: -397px -250px;

}

.buy:active {
    background-position: -795px -250px;

}

.gray_mini {
    font-size: 12px;
    color: #5b5b5b;
    display: block;
    font-family: "PT Sans", sans-serif;
    width: 87px;
    height: 22px;
    text-align: center;
    padding-top: 4px;
    height: 18px;
    background-image: url("images/sprite_gray_mini.png");
    background-repeat: no-repeat;
}

.yet {
    background-position: left top;
}

.yet:hover {
    background-position: -150px top;

}

.all_blogs {
    background-position: left -40px;

}

.all_blogs:hover {
    background-position: -150px -40px;

}

.white {
    background-image: url("images/white_but_sprite.png");
    background-repeat: no-repeat;
    color: #000;
    display: block;
    text-align: center;
    font-size: 18px;

}

.send_mes {
    background-position: left top;
    height: 34px;
    width: 202px;
    padding-top: 13px;

}

.send_mes:hover {
    background-position: -292px top;

}

.send_mes:active {
    background-position: -583px top;

}

.help {
    background-position: left -181px;
    width: 168px;
    height: 34px;
    padding-top: 13px;
}

.help:hover {
    background-position: -292px -181px;

}

.help:active {
    background-position: -583px -181px;

}

.as_guest {
    background-position: left -273px;
    width: 245px;
    height: 32px;
    font-weight: bold;
    padding-top: 10px;
}

.as_guest:hover {
    background-position: -292px -273px;

}

.as_guest:active {
    background-position: -583px -273px;

}

.napisat {
    background-position: left -330px;
    width: 178px;
    height: 32px;
    font-weight: bold;
    padding-top: 10px;

}

.napisat:hover {
    background-position: -292px -330px;

}

.napisat:active {
    background-position: -583px -330px;

}

.comeback {
    background-position: left -477px;
    width: 148px;
    height: 26px;
    padding-top: 8px;
    font-size: 14px;

}

.comeback:hover {
    background-position: -292px -477px;
}

.comeback:active {
    background-position: -583px -477px;
}

.read_more {
    background-position: left -526px;
    width: 138px;
    height: 25px;
    padding-top: 7px;
    font-size: 14px;

}

.read_more:hover {
    background-position: -292px -526px;
}

.read_more:active {
    background-position: -583px -526px;
}

.prov {
    background-position: left -572px;
    padding-top: 10px;
    font-size: 14px;
    width: 90px;
    height: 27px;

}

.prov:hover {
    background-position: -292px -572px;
}

.prov:active {
    background-position: -583px -572px;
}

.blue_but {
    background-image: url("images/sprite_blue_but.png");
    background-repeat: no-repeat;
    font-size: 23px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #004c91;
    text-align: center;
    display: block;
}

.reg {
    background-position: left top;
    height: 41px;
    width: 282px;
    padding-top: 12px;

}

.reg:hover {
    background-position: -295px top;
}

.reg:active {
    background-position: -591px top;
}

.enter {
    background-position: left -62px;
    height: 32px;
    width: 105px;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;

}

.enter:hover {
    background-position: -295px -62px;
}

.enter:active {
    background-position: -591px -62px;
}

.write {
    background-position: left -137px;
    height: 25px;
    width: 105px;
    padding-top: 8px;
    font-size: 14px;

}

.write:hover {
    background-position: -295px -137px;
}

.write:active {
    background-position: -591px -137px;
}

.voiti {
    background-position: left -178px;
    height: 25px;
    width: 83px;
    padding-top: 8px;
    font-size: 14px;

}

.voiti:hover {
    background-position: -295px -178px;
}

.voiti:active {
    background-position: -591px -178px;
}

.social {
    width: 33px;
    height: 33px;
    display: block;
    background-image: url("images/sprite_social.png");
    background-repeat: no-repeat;
    float: left;
    margin-right: 10px;
}

.fb {
    background-position: left top;
}

.fb:hover {
    background-position: -215px top;
}

.tw {
    background-position: -43px top;

}

.tw:hover {
    background-position: -258px top;

}

.vk {
    background-position: -85px top;

}

.vk:hover {
    background-position: -300px top;

}

.go {
    background-position: -127px top;

}

.go:hover {
    background-position: -342px top;

}


